{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

{# pour voir si on a recuperé toutes les articles par la méthode "render()", nous allons faire "dump" #}
 
{# {{ dump(articlesBDD)}} #}

<div class="row mb-2">

{% for oneArticle in articlesBDD %}

        {# boucle FOR Twig : #}
        {# arguments : #}
        {# 1. oneArticle : variable de reception que nous définissons dans la boucle, 
        qui receptionne les données d'un article par tour de boucle FOR #}
        {# 2. articlesBDD : variable Twig contenant l'ensemble des données selectionné en BDD #}



    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

         <div class="col-md-7 p-4 d-flex flex-column position-static">

           <strong class="d-inline-block mb-2 text-primary">World</strong>

           <h3 class="mb-0">{{ oneArticle.titre}}</h3>

           <div class="mb-1 text-muted">Posté le {{ oneArticle.date|date('d/m/Y')}} à {{ oneArticle.date|date('H:i:s')}}</div>

           <p class="card-text mb-auto">{{ oneArticle.contenu|slice(0, 80)|raw}}[...]</p>
           {# slice() : fonction Twig permettant de retourner une partie de la chaine de caractères #}
                        {# arguments: 1. La position de départ | 2. Le nombre de caractères souhaités #}


           <a href="{{ path('blog_show', {'id': oneArticle.id})}}" class="stretched-link">Lire la suite</a>

         </div>
         <div class="col-md-5 d-none d-lg-block">
           <img src="{{ oneArticle.image}}" class="col-md-12" alt="{{ oneArticle.image}}">
         </div>
      </div>
    </div>  

    {% endfor %}
</div>

{% endblock %}
