{% extends "base.html.twig" %}

{% block title %}

   Blog| Détails d'article
    
{% endblock %}

{% block body %}

{# {{ dump(articleBDD)}} #}


   {# <h1 class="display-4 fst-italic text-center my-4"></h1> #}

   <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-500 position-relative">
        <div class="col-md-7 p-4 d-flex flex-column position-static">

          <strong class="d-inline-block mb-2 text-primary">World</strong>

          <h2 class="mb-0">{{articleBDD.titre}}</h2>
          <div class="mb-1 text-muted">Posté le {{articleBDD.date|date('d/m/Y')}} à {{articleBDD.date|date('H:i:s')}}</div>
          <p class="card-text">{{articleBDD.contenu|raw}}</p>
          <a href="{{path('blog')}}">Retour aux articles</a>
          <a href="{{path('blog_edit',{'id':articleBDD.id})}}">Modification</a>
        </div>
        <div class="col-md-5 d-none d-lg-block">
            <img src="{{articleBDD.image}}" class="col-md-12" alt="{{articleBDD.titre}}">
        </div>
      </div>
    </div>



    
{% endblock %}

 